.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: #272b29;
    opacity: 0.8;
    border-radius: 5px;
  }
  img.songRow__album {
    height: 45px;
    width: 45px;
    object-fit: contain;
    margin-right: 10px;
    margin-left: 10px;
  }
  .songRow__info {
    & > h1 {
      font-size: 16px;
    }
    & > p {
      font-size: 14px;
      margin-top: 3px;
      color: grey;
    }
  }
}
